.container {
  height: 100vh;
  padding-top: 5rem;
}
.expHeaderWrapper {
  padding-top: 6%;
  padding-left: 5%;
}
.expContentContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 5%;
}
.projectContainer {
  width: 30%;
  padding: 10px 1rem;
  background-color: #1c1854;
  border-radius: 10px;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exp-source-container {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.exp-source-container a {
  color: white;
}

@media (max-width: 1200px) {
  .expContentContainer {
    display: flex;
  }
  .projectContainer {
    width: 35%;
    height: 30%;
  }
  .expDataContainer {
    max-height: 100px;
    overflow: scroll;
    padding-left: 2%;
    border-radius: 20px;
  }
}

@media (max-width: 500px) {
  .projectContainer {
    margin-top: 5%;
    width: 100%;
  }
}
